@model GDYCMS.Models.EditorModel

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EditorModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialGroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaterialGroupName)
            @Html.ValidationMessageFor(model => model.MaterialGroupName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaterialName)
            @Html.ValidationMessageFor(model => model.MaterialName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HTML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HTML)
            @Html.ValidationMessageFor(model => model.HTML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstCreator)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstCreator)
            @Html.ValidationMessageFor(model => model.FirstCreator)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModifier)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModifier)
            @Html.ValidationMessageFor(model => model.LastModifier)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastChange)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastChange)
            @Html.ValidationMessageFor(model => model.LastChange)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isPublished)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isPublished)
            @Html.ValidationMessageFor(model => model.isPublished)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Container)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Container)
            @Html.ValidationMessageFor(model => model.Container)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
