@{ ViewBag.Title = "MaterialEditor"; Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
@model GDYCMS.Models.EditorModel 
@using GDYCMS.Models.Global

<link rel="stylesheet" type="text/css" href="/Content/CMSStyles/AdminStyles/MaterialEditor.css" />
<!-- 
<script src="~/Scripts/Logic/Admin/MaterialEditor.js"></script>
-->

<div class="row" ng-app="GDYApp" ng-controller="GDYController">
<form action="/Admin/MaterialEditor" method="post">

    @Html.HiddenFor(t => t.SelectedMaterial);
    @Html.HiddenFor(t => t.SelectedMaterialGroup);

  <div class="col-md-2 col-xs-2 Bordered">
    <div class="row">
      <div class="col-md-12 col-xs-12">CATEGORIES</div>
      <div class="col-md-12 col-xs-12 MaterialSelector">
          @Html.ListBoxFor(t => t.MaterialGroupList.Keys, new SelectList(Model.MaterialGroupList, "Key", "Value"), new {style="width:100%;height:100%" })

      </div>
      <div class="col-md-12 col-xs-12">
        <button class="btn btn-success FloatLeft">ADD</button>
        <button class="btn btn-success" style="margin-left:30px;">RENAME</button>
        <button class="btn btn-danger FloatRight">DELETE</button>
      </div>

      <div class="col-md-12 col-xs-12">MATERIALS</div>
      <div class="col-md-12 col-xs-12 MaterialSelector">

          @Html.ListBoxFor(t => t.MaterialList.Keys, new SelectList(Model.MaterialList, "Key", "Value"), new {style="width:100%;height:100%" })

      </div>
      <div class="col-md-12 col-xs-12">
        <button class="btn btn-success FloatLeft">ADD</button>
        <button class="btn btn-success" style="margin-left:30px;">RENAME</button>
        <button class="btn btn-danger FloatRight">DELETE</button>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-xs-5 Bordered">
      <textarea name="HTML" id="HTML" ui-tinymce="tinymceOptions" style="height:500px;" ng-model="CurrentMaterialHTML">LALALA</textarea>      
  </div>
  <div class="col-md-5 col-xs-5 Bordered" style="height:710px;">
       <div ng-bind-html="to_trusted(CurrentMaterialHTML)"></div>
  </div>
  <div class="col-md-12 col-xs-12">
      @Html.TextBoxFor(t => t.MaterialName);
      <button id="SubmitID" class="btn btn-sucess" type="submit">LOAD SELECTED</button>
  </div>
</form>
</div>