@{
    Layout = null;
}
@using GDYCMS.Models.Global
<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="/Content/normalize.css" />
      <link rel="stylesheet" type="text/css" href="/Content/CMSStyles/AdminStyles/Admin.css" />
      <link rel="stylesheet" type="text/css" href="/Content/CMSStyles/Basic/Basics.css" />

        @if (IsSectionDefined("CSS_CentralPageEditor"))
        {
            @RenderSection("CSS_CentralPageEditor", required: false)
        }
        @if (IsSectionDefined("CSS_LoginForm"))
        { 
            @RenderSection("CSS_LoginForm", required: false)
        }
        @if (IsSectionDefined("CSS_FileManager"))
        { 
            @RenderSection("CSS_FileManager", required: false)
        }

      <meta name="viewport" content="width=device-width, init-scale=1" />
      <title></title>
   </head>
   <body>
      <script src="/Scripts/angular.min.js"/></script>
      <script src="/Scripts/angular-cookies.min.js"></script>
      <script src="/Scripts/jquery-2.1.4.min.js"/></script>
      <script src="/Scripts/bootstrap.min.js"/></script>
      <script src="/Scripts/UITinyMCE/TinyMCEWrapper.js"></script>
      <script src="/Scripts/UITinyMCE/tinymce.min.js"></script>
      <div class="container-fluid">
         <div class="row">
            <!-- Upper Logo ROW -->
            <div class="col-xs-12 col-md-12 CMSAdminUpperHeader">
            </div>
            <div class="col-md-12 col-xs-12">
               @if (Request.IsAuthenticated)
               {
               <div class="CMSAccountNamePlace">
                  Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Accounts")! @Html.ActionLink("Exit", "Logout", "Users")
               </div>
               } 
            </div>
            <div class="col-xs-12 col-md-12 CMSAdminUpperMenu">
               <div class="row">
                  <input type="button" class="btn btn-primary" value="HOME ADMIN" onclick="@("window.location.href='" + @Url.Action("Index", "Admin") + "'")    ;" />
                  <div class="btn-group">
                     <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CENTRAL PAGE<span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                        <li><a href="/Admin/CentralPageEditor/@GlobalThings.MainPageEditorTarget[(int)GlobalThings.ContainerTypes.UpperMenu]">Upper menu editor</a></li>
                        <li><a href="/Admin/CentralPageEditor/@GlobalThings.MainPageEditorTarget[(int)GlobalThings.ContainerTypes.LeftMenuUp]">Left up menu editor</a></li>
                        <li><a href="/Admin/CentralPageEditor/@GlobalThings.MainPageEditorTarget[(int)GlobalThings.ContainerTypes.LeftMenuDown]">Left down menu editor</a></li>
                        <li><a href="/Admin/CentralPageEditor/@GlobalThings.MainPageEditorTarget[(int)GlobalThings.ContainerTypes.RightMenuUp]">Right up menu editor</a></li>
                        <li><a href="/Admin/CentralPageEditor/@GlobalThings.MainPageEditorTarget[(int)GlobalThings.ContainerTypes.RightMenuDown]">Right down menu editor</a></li>
                        <li><a href="/Admin/CentralPageEditor/@GlobalThings.MainPageEditorTarget[(int)GlobalThings.ContainerTypes.CentralContent]">Main content editor</a></li>
                        <li><a href="/Admin/CentralPageEditor/@GlobalThings.MainPageEditorTarget[(int)GlobalThings.ContainerTypes.Footer]">Footer editor</a></li>
                     </ul>
                  </div>
                  <input type="button" class="btn btn-primary" value="File manager" onclick="@("window.location.href='" + @Url.Action("FileManager", "Admin") + "'")    ;" />
                  <input type="button" class="btn btn-primary" value="Material editor" onclick="@("window.location.href='" + @Url.Action("MaterialsEditor", "Admin") + "'")    ;" />

                  @if (User.Identity.Name == "Administrator")
                  {
                  <input type="button" class="btn btn-primary CMSAccountButton" value="Account management" onclick="@("window.location.href='" + @Url.Action("AccountManagement", "Users") + "'")    ;" />
                  }
                  else
                  { <!-- This is authentheficated user-->
                  <input type="button" class="btn btn-primary CMSAccountButton" value="Change password" onclick="@("window.location.href='" + @Url.Action("ChangeUserPassword", "Users") + "'")    ;" />
                  }
               </div>
            </div>
         </div>
         @RenderBody()
      </div>
   </body>
</html>
